nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 7vh;
    background-color:#34c94b;
   
}

.logocontainer{
    align-items: center;
    margin-left: 20px;

}

#logoimg {
    height: 25px;
    width: 67px;
    align-items: center;
}




.inputbar {
    height: 4vh;
    width: 20vw;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; 
    outline: 0;
    border: 0;
}
.searchicon {
    height: 12px;
    width: 15px;
    border: 0;
    outline: 0;
    
    /* margin-right: 30px; */
    cursor: pointer;
    

}
.searchbtn {
    border: 1.41px solid whitesmoke;
    outline: 0;
    height: 25px;
   /* padding:2px; */
   padding-left: 10px;
   /* padding-bottom: 1.5px; */
   padding-right: 10px;
   border-radius: 5px;
   border-top-left-radius: 0;
    border-bottom-left-radius: 0; 
background-color: #fff;

}

button[type="submit"]:hover {
    background-color: #dedede;
  }


.feedbackbtn {
    font-family: 'Poppins', sans-serif;
 
    padding: 3px 6px 3px 6px;
    margin-right: 20px;
    color: #34c94b;
    background: #121212;
    border-radius: 5px;
    height: 29px;
font-weight: bold;
cursor: pointer;
}


