@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.search-result {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color:#1D1D1D;
    cursor: pointer;
  }
  
  .search-result:hover {
    background-color: #6f6f6f;
  }

  .searchresultimg{
    height: 71px;
    width: 66px;
    border-radius: 8px;
    outline: none;
    border: 2px solid rgb(68, 68, 68);
  }

  .searchresultnamediv {
    height: 45px;
    width: 156px;
    /* border: 2px solid red; */
    margin-left: 15px;
  }
  .searchresultnamediv h5{
    margin: 0;
color:  #FFFFFF;

  }
  .searchresultnamediv p{
    margin: 0;
color:  #FFFFFF;

  }

  .searchresultfolowdiv {
    position: absolute;
    right: 19px;
    height: 30px;
    width: 100px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .searchresultfolowdiv h5{
    margin: 0;
    font-size: 15px;
color:  #FFFFFF;
  }